*{
  background-color: grey;
  color: white;
  text-align: center;
}
header{
    width: 764px;
    height: 246px;
    margin: auto;
}
img{
  width: 250px;
  height: 190px;
  border: 5px solid #f5ebee;
  padding: 20px;
}
div.imagesBlock{
  padding-top: 50px;
  margin: 0 15px;
}
